// GLOBAL

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(to left, #2c3e50, #fd746c);
}
//

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  font-size: 3.8rem;
  color: #e9ecef;
  letter-spacing: 1.4px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0 5rem;
}

.panel {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  flex: 0.2;
  margin: 0 0.4rem;
  transition: flex 0.7s ease-in;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
  cursor: pointer;

  h3 {
    font-size: 2.4rem;
    color: #48e248;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    opacity: 0;
  }
}

.activated {
  flex: 1;

  h3 {
    opacity: 1;
  }
}
