* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to left, #000428, #004e92);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 4rem;
  font-size: 3.4rem;
  color: #f1f3f5;
}

.container {
  width: 40rem;
  margin-top: 20rem;
  padding: 2.5rem;
  background-color: #dfe1e227;
  color: #f1f3f5;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.result_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #1f2020e5;
  padding: 2.1rem 2rem;
  width: 100%;
  font-size: 1.8rem;

  &#result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
  }

  .btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 3.5rem;
  }
}

.btn {
  background-color: #07265f;
  border: none;
  color: #f1f3f5;
  font-size: 1.8rem;
  padding: 0.6rem 0.8rem;
  cursor: pointer;

  &.btn-large {
    display: block;
    width: 100%;
    font-family: inherit;
    border-radius: 4px;
  }
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.3rem;
}
