* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  font-size: 3.6rem;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.input {
  padding: 1.2rem;
  border: 0;
  border-radius: 8px;
  font-size: 2.2rem;
  font-family: inherit;
  height: 5rem;
  width: 5rem;
  transition: width 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &:focus {
    outline: none;
  }
}

.btn {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
  background-color: #fff;
  border: 0;
  font-size: 2.4rem;
  transition: transform 0.3s ease;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.container.active .input {
  width: 40rem;
}

.container.active.active .btn {
  transform: translateX((17.5rem));
}
